<body>
	<h1><strong>Books</strong></h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
		</tr>
	</thead>
	<tbody>
		<tr>
          <% @books.each do |book| %>
           <td> <span><%= book.title %></span></td>
           <td> <span><%= book.body %></span></td>
			<td><%= link_to "Show", book_path(book), class: "show_#{book.id}" %></td>
			<td><%= link_to "Edit", edit_book_path(book), class: "edit_#{book.id}" %></td>
			<td><%= link_to "Destroy", book_path(book), method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>


<h2><strong>New book</strong></h2>
<%= form_for(@book) do |f| %>
    <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :title, class: "book_title" %>
    </div>
    <div class="field">
    <%= f.label :Body %>
    <%= f.text_area :body, class: "book_body" %>
    </div>
    <%= f.submit 'Create Book' %>
<% end %>
</body>